.bar-chart {
  height: 100%;
  width: 100%;
}

.bar-chart .chart .axis-y path,
.bar-chart .chart .grids-x path,
.bar-chart .chart .grids-y path,
.bar-chart .chart .grids-x .tick line {
  stroke: transparent;
}

.bar-chart .chart .axis-y .tick line {
  stroke: transparent;
}

.bar-chart .chart .axis-x path,
.bar-chart .chart .axis-x .tick line {
  stroke: #ccd6eb;
}

.bar-chart .chart .grids-y .tick line {
  stroke: #e6e6e6;
}

.bar-chart .chart .cover-x {
  fill: #FFFFFF;
}

.bar-chart .chart .label-x {
  fill: #000000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  text-transform: capitalize;
  alignment-baseline: after-edge;
}

.bar-chart .chart-container {
  float: left;
}

.bar-chart .legend-container {
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-anchor: start;
}

.bar-chart .chart-container .chart-background {
  fill: transparent;
}

.bar-chart .chart-container .zoom-layer {
  fill: transparent;
}

.bar-chart .axis-label {
  fill: #000000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

.bar-chart .bar-group text {
  fill: #000000;
  font-size: 4px;
  font-weight: normal;
  text-anchor: middle;
}

.bar-chart .legend-container .legend-title-container {
  width: 100%;
}

.bar-chart .legend-container .legend-content-container {
  overflow: auto;
  width: 100%;
}

.bar-chart .legend-container .legend-content-container .legends .legend .legend-text {
  fill: #000000;
  font-weight: normal;
  text-anchor: start;
  alignment-baseline: before-edge;
}