#plugloadsGraph-barchart {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#plugloadsGraph-barchart .bar-chart .axis-x path,
#plugloadsGraph-barchart .bar-chart .axis-y path,
#plugloadsGraph-barchart .bar-chart .grids-x path,
#plugloadsGraph-barchart .bar-chart .grids-y path,
#plugloadsGraph-barchart .bar-chart .grids-x .tick line,
#plugloadsGraph-barchart .bar-chart .grids-y .tick line {
  stroke: #FFFFFF;
}

#plugloadsGraph-barchart .bar-chart .cover-x {
  fill: #FFFFFF;
}

#plugloadsGraph-barchart .bar-chart .label-x {
  fill: #000000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: after-edge;
}

#plugloadsGraph-barchart .bar-chart .label-y {
  fill: #000000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: before-edge;
}

#plugloadsGraph-barchart .chart-container {
  float: left;
}

#plugloadsGraph-barchart .legend-container {
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-anchor: start;
}

#plugloadsGraph-barchart .chart-container .chart-background {
  fill: #EBEBEB;
}

#plugloadsGraph-barchart .chart-container .zoom-layer {
  fill: transparent;
}

#plugloadsGraph-barchart .axis-label {
  fill: #000000;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

#plugloadsGraph-barchart .bar-group text {
  fill: #000000;
  font-size: 4px;
  font-weight: normal;
  text-anchor: middle;
}

#plugloadsGraph-barchart .legend-container .legend-title-container {
  width: 100%;
}

#plugloadsGraph-barchart .legend-container .legend-content-container {
  overflow: auto;
  width: 100%;
}

#plugloadsGraph-barchart .legend-container .legend-content-container .legends .legend .legend-text {
  fill: #000000;
  font-weight: normal;
  text-anchor: start;
  alignment-baseline: before-edge;
}