#plugloadsGraph-heatmap {
  font-size: 12px;
  height: 300px;
  width: 100%;
}

#plugloadsGraph-heatmap .chart .chart-title {
  text-anchor: middle;
}

#plugloadsGraph-heatmap .chart .cards .card-row .card {
  stroke: #5AB0EE;
  stroke-width: 2px;
}

#plugloadsGraph-heatmap .chart .cards .card-row .card-label {
  alignment-baseline: central;
  text-anchor: middle;
}

#plugloadsGraph-heatmap .chart .x-axis text {
  alignment-baseline: alphabetic;
  text-anchor: middle;
}

#plugloadsGraph-heatmap .chart .y-axis text {
  alignment-baseline: central;
}

#plugloadsGraph-heatmap .chart .axis-label {
  font-weight: bold;
  alignment-baseline: central;
}

#plugloadsGraph-heatmap .chart .axis-label.x-axis-label {
  text-anchor: middle;
}

#plugloadsGraph-heatmap .legends .legend text {
  alignment-baseline: after-edge;
}

#plugloadsGraph-heatmap .legends .legend-title {
  alignment-baseline: mathematical;
  font-weight: bold;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #5AB0EE;
  padding: 5px;
  transform: translateX(-50%) translateY(calc(-5px - 50%)) ;
  text-align: center;
}

.toolTip::after {
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #FFFFFF transparent transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
  width: 0;
}

.toolTip::before {
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #5AB0EE transparent transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
  width: 0;
}