#plugloadsGraph-heatmap {
  height: 300px;
  width: 100%;
}

#plugloadsGraph-heatmap .chart .cards .card-row .card {
  stroke: #5AB0EE;
  stroke-width: 2px;
}

#plugloadsGraph-heatmap .chart .cards .card-row .card-label {
  font-size: 12px;
  text-anchor: middle;
  alignment-baseline: central;
}

#plugloadsGraph-heatmap .chart .x-axis text,
#plugloadsGraph-heatmap .chart .y-axis text {
  font-size: 12px;
  text-anchor: middle;
}

#plugloadsGraph-heatmap .legends .legend text {
  font-size: 12px;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: center;
}