#mapbox {
  height: 100%;
  width: 100%;
}

.building-marker {
  border-radius: 100%;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  color: white;
  left: calc( -26px / 2 );
  background: #fff;
  border: solid #E2E2E2 1px;
}

.building-marker-inner {
  width: 78%;
  height: 78%;
  border-radius: 100%;
  margin-top: 11%;
  margin-left: 11%;
}
