a, a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.occupancy-tab {
  background: #fff;
}

ul.tab-view {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #eef1f7;
}

.tab-view li {
  list-style: none;
  display: inline-block;
  padding: 10px 40px;
  font-size: 14px;
  cursor: pointer;
}

.tab-view li.active {
  list-style: none;
  display: inline-block;
  border-bottom: 2px solid #43aea8;
  font-weight: 700;
}

.tab-view li a {
  color: #3b4047;
}

.tab-view li.active a {
  color: #43aea8;
}

.tab-content {
  padding: 15px 0;
}

.sprite {
  background: url(./../img/sprite.png) no-repeat;
  display: inline-block;
}

.zoomin span {
  background-position: -583px -40px;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 6px;
}

.zoomout span {
  background-position: -550px -39px;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 6px;
}

.zoomreset span {
  background-position: -584px -73px;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 6px;
}

button.zoomout, button.zoomin, button.zoomreset {
  background-color: rgba(255, 255, 255, 1);
  display: block;
  height: 29px;
  overflow: hidden;
  cursor: pointer;
  width: 29px;
  z-index: 2;
  box-sizing: border-box;
  transition: background-color 0.16s ease-out;
  border-radius: 2px;
}

button.zoomin {
  border: 1px solid #ccc;
  margin-top: 10px;
  position: relative;
}

button.zoomout {
  border: 1px solid #ccc;
  margin-top: 3px;
  position: relative;
}

button.zoomreset {
  border: 1px solid #ccc;
  margin-top: 3px;
  position: relative;
}
