html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

text {
  cursor: default;
}

.toolTip {
  position: absolute;
  color: #fff;
  display: none;
  min-width: 80px;
  height: auto;
  background: #2A394F;
  opacity: 0.75;
  border-radius: 5px;
  padding: 5px;
  transform: translateX(-50%) translateY(calc(-12px - 100%)) ;
}

.toolTip::before {
  border-style: solid;
  border-width: 11px 11px 0 11px;
  border-color: #2A394F transparent transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
  width: 0;
}

.toolTip span {
  float: right;
}
